* {
  padding: 0;
  margin: 0;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.delay-1s {
  -webkit-animation-delay: 0.05s;
  animation-delay: 0.05s;
}

.animated.fast {
  -webkit-animation-duration: 800ms;
  animation-duration: 800ms;
}

@-webkit-keyframes rollIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes rollIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.rollIn {
  -webkit-animation-name: rollIn;
  animation-name: rollIn;
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
nav a {
  text-decoration: none;
  color: white;
}
nav a:hover{
  text-decoration: underline;
}
.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}

.header {
  background-image: url("../img/header.png");
  min-height: 340px;
}
.pic {
  float: left;
  padding-top: 10px;
  padding-left: 10px;
}
.polyChamps{
  float: left;
  font-family: 'Baloo Da', cursive;
  font-family: 'Baloo Chettan', cursive;
  font-family: 'Luckiest Guy', cursive;
  color: white;
  text-align: center;
  font-size: 150px;
  text-shadow: -5px 0 black, 0 2.5px black, 5px 0 black, 0 -5px black;
  margin-top: 50px;
  margin-left: 80px;
  max-width: 90%;
}


.nav {
  background-color: #313842;
  color: white;
  flex-wrap: wrap;
  display: flex;
}
nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display:inline-grid;
  padding-left: 23px;
  padding-right: 23px;
  font-size: 30px;
  text-decoration: none;
  font-family: 'Alfa Slab One', cursive;
  font-family: 'Teko', sans-serif;
}
.teams {
  background-color: #313842;
  color: white;
  height: 35px;
  text-align: center;
  font-family: 'Alfa Slab One', cursive;
  font-family: 'Teko', sans-serif;
}

.boxes {
  font-family: 'Alfa Slab One', cursive;
  font-family: 'Teko', sans-serif;
  margin-top: 30px;
  flex-wrap: wrap;
  display: flex;
  float: left;
  left: calc(50% - 1800px/2);
  position: absolute;
  overflow-x: scroll;
}

.boxA {
  float: inherit;
  color: white;
  width: 260px;
  height: 420px;
  margin: 50px;
  background-image: url("../img/teamcards/bombers.png");
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px #313842;
}
.boxB {
  float: inherit;
  color: white;
  width: 260px;
  height: 420px;
  margin: 50px;
  background-image: url("../img/teamcards/cosmonauts.png");
  border-radius: 10px;
  color: white;
  box-shadow: 2px 2px 2px 2px #313842;
}
.boxC {
  float: inherit;
  color: white;
  width: 260px;
  height: 420px;
  margin: 50px;
  background-image: url("../img/teamcards/crawfish.png");
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px #313842;
}
.boxD {
  float: inherit;
  color: white;
  width: 260px;
  height: 420px;
  margin: 50px;
  background-image: url("../img/teamcards/jets.png");
  border-radius: 10px;
  color: white;
  box-shadow: 2px 2px 2px 2px #313842;
}
.boxE {
  float: inherit;
  color: white;
  width: 260px;
  height: 420px;
  margin: 50px;
  background-image: url("../img/teamcards/lightning.png");
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px #313842;
}
.boxF {
  float: inherit;
  color: white;
  width: 260px;
  height: 420px;
  margin: 50px;
  background-image: url("../img/teamcards/mallard.png");
  border-radius: 10px;
  color: white;
  box-shadow: 2px 2px 2px 2px #313842;
}
.boxG {
  float: inherit;
  color: white;
  width: 260px;
  height: 420px;
  margin: 50px;
  background-image: url("../img/teamcards/plague.png");
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px #313842;
}
.boxH {
  float: inherit;
  color: white;
  width: 260px;
  height: 420px;
  margin: 50px;
  background-image: url("../img/teamcards/ronin.png");
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px #313842;
}
.boxI {
  float: inherit;
  color: white;
  width: 260px;
  height: 420px;
  margin: 50px;
  background-image: url("../img/teamcards/sparkies.png");
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px #313842;
}
.boxJ {
  float: inherit;
  color: white;
  width: 260px;
  height: 420px;
  margin: 50px;
  background-image: url("../img/teamcards/wildfire.png");
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px #313842;
}
.boxK {
  float: inherit;
  color: white;
  width: 260px;
  height: 420px;
  margin: 50px;
  background-image: url("../img/teamcards/novas.png");
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px #313842;
}

.stats {
  margin-left: 42px;
  font-size: 20px;
  margin-top: 10px;
}

.nadpis {
  margin-left: 35px;
  margin-top: 20px;
  font-size: 30px;
  text-align: justify;
  border-bottom: 3px black;
}

.písání {
  margin-left: 20px;
  margin-right: 10px;
  font-size: 20px;
  margin-top: 130px;
  height: 58px;
}

body {
  background-image: url("../img/background.png");
  margin: 0;
  padding:0;
}

.cojeto {
  padding: 30px;
  border-bottom: 35px black;
  background-color: white;
}
.veliký {
  font-size: 25px;
  text-align: center;
  float: inherit;
  font-family: 'Alfa Slab One', cursive;
  font-family: 'Teko', sans-serif;
}

.malý {
  margin-top: 35px;
  text-align: center;
  font-size: 20px;
  margin-left: 10%;
  margin-right: 10%;
}
/*desingn pod 1500*/
@media only screen and (max-width: 1900px) {
  .polyChamps {
    font-size: 130px;
  }
  .boxes {
    left: calc(50% - 1800px/2);
    position: absolute;
  }
}
@media only screen and (max-width: 1890px) {
  .boxes {
    left: calc(50% - 1800px/2);
    position: absolute;
  }
}
@media only screen and (max-width: 1798px) {
  .polyChamps {
    font-size: 100px;
  }
  .boxes {
    left: calc(50% - 1440px/2);
    position: absolute;
  }
}
@media only screen and (max-width: 1516px) {
  .polyChamps {
    font-size: 100px;
  }
}
@media only screen and (max-width: 1440px) {
  .boxes {
    left: calc(50% - 1250px/2);
    position: absolute;
  }
  .boxA {
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 25px;
  }
  .boxB {
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 25px;
  }
  .boxC {
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 25px;
  }
  .boxD {
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 25px;
  }
  .boxE {
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 25px;
  }
  .boxF {
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 25px;
  }
  .boxG {
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 25px;
  }
  .boxH {
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 25px;
  }
  .boxI {
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 25px;
  }
  .boxJ {
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 25px;
  }
  .boxK {
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 25px;
  }
}

@media only screen and (max-width: 1370px) {
  .polyChamps {
    font-size: 60px;
    float: right;
    margin-right: 10%;
  }
}
@media only screen and (max-width: 1370px) {
  .boxes{
    left: calc(50% - 915px/2);
  }
}
@media only screen and (max-width: 1060px) {
  .polyChamps {
    display: none;
  }
  .pic {
    float: left;
    left: calc(50% - 320px/2);
    position: absolute;
  }
  .malý {
    margin-top: 25px;
    text-align: center;
    font-size: 15px;
    margin-left: 10%;
    margin-right: 10%;
  }
}
@media only screen and (max-width: 945px) {
  .boxes {
    margin-top: 0;
    flex-wrap:nowrap;
    overflow-x: scroll;
    left: 0;
    max-width: 100%;
    overflow-y: hidden;
  }
  .boxA {
    margin: 0;
    margin-top: 0;
    float: none;
    box-shadow: none;
    border-radius: none;
    display: inline-block;
    min-width: 260px;
  }
  .boxB {
    margin:0;
    margin-top: 0;
    float: none;
    box-shadow: none;
    border-radius: none;
    display: inline-block;
    min-width: 260px;
  }
  .boxC {
    margin:0;
    margin-top: 0;
    float: none;
    box-shadow: none;
    border-radius: none;
    display: inline-block;
    min-width: 260px;
  }
  .boxD {
    margin:0;
    margin-top: 0;
    float: none;
    box-shadow: none;
    border-radius: none;
    display: inline-block;
    min-width: 260px;
  }
  .boxE {
    margin:0;
    margin-top: 0;
    float: none;
    box-shadow: none;
    border-radius: none;
    display: inline-block;
    min-width: 260px;
  }
  .boxF {
    margin:0;
    margin-top: 0;
    float: none;
    box-shadow: none;
    border-radius: none;
    display: inline-block;
    min-width: 260px;
  }
  .boxG {
    margin:0;
    margin-top: 0;
    float: none;
    box-shadow: none;
    border-radius: none;
    display: inline-block;
    min-width: 260px;
  }
  .boxH {
    margin:0;
    margin-top: 0;
    float: none;
    box-shadow: none;
    border-radius: none;
    display: inline-block;
    min-width: 260px;
  }
  .boxI {
    margin:0;
    margin-top: 0;
    float: none;
    box-shadow: none;
    border-radius: none;
    display: inline-block;
    min-width: 260px;
  }
  .boxJ {
    margin:0;
    margin-top: 0;
    float: none;
    box-shadow: none;
    border-radius: none;
    display: inline-block;
    min-width: 260px;
  }
  .boxK {
    margin:0;
    margin-top: 0;
    float: none;
    box-shadow: none;
    border-radius: none;
    display: inline-block;
    min-width: 260px;
  }
}
@media only screen and (max-width: 730px) {
  .malý {
    font-size: 13px;
  }
}
@media only screen and (max-width: 450px) {
  nav li {
    display:table;
  }
}
