* {
  padding: 0;
  margin: 0;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.delay-1s {
  -webkit-animation-delay: 0.05s;
  animation-delay: 0.05s;
}

.animated.fast {
  -webkit-animation-duration: 800ms;
  animation-duration: 800ms;
}

@-webkit-keyframes rollIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes rollIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.rollIn {
  -webkit-animation-name: rollIn;
  animation-name: rollIn;
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}

.header {
  background-image: url("../img/header.png");
  min-height: 340px;
}
.pic {
  float: left;
  padding-top: 10px;
  padding-left: 10px;
}
.polyChamps{
  float: left;
  font-family: 'Baloo Da', cursive;
  font-family: 'Baloo Chettan', cursive;
  font-family: 'Luckiest Guy', cursive;
  color: white;
  text-align: center;
  font-size: 150px;
  text-shadow: -5px 0 black, 0 2.5px black, 5px 0 black, 0 -5px black;
  margin-top: 50px;
  margin-left: 80px;
  max-width: 90%;
}
nav {
  font-size: 30px;
  font-family: 'Alfa Slab One', cursive;
  font-family: 'Teko', sans-serif;
}
.ref a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}
.ref {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  background-color: #313842;
  color: white;
  text-decoration: none;
  text-align: center;
}
.ref div:nth-child(1) {
  background-color: white;
  color: #313842;
  text-decoration: none;
  border: #313842 1px solid;
}
body {
  background-image: url("../img/background.png");
  margin: 0;
  padding:0;
}
.B {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-column-gap: 35px;
  padding: 35px;
}
}
@media only screen and (max-width: 1900px) {
  .polyChamps {
    font-size: 130px;
  }
}
@media only screen and (max-width: 1798px) {
  .polyChamps {
    font-size: 100px;
  }
}
@media only screen and (max-width: 1516px) {
  .polyChamps {
    font-size: 100px;
  }
}
@media only screen and (max-width: 1370px) {
  .polyChamps {
    font-size: 60px;
    float: right;
    margin-right: 10%;
  }
}
@media only screen and (max-width: 1060px) {
  .polyChamps {
    display: none;
  }
  .pic {
    float: left;
    left: calc(50% - 320px/2);
    position: absolute;
 }
 @media only screen and (max-width: 1040px) {
   .ref {
     grid-template-columns: 1fr 1fr 1fr ;
   }
   .B {
     grid-template-columns: 1fr;
     justify-items:center;
     text-align: center;

   }
   .B div:nth-child(odd){
     padding-bottom: 20px;
   }
   .B H1 {
     padding-bottom: 20px;
   }
   .B div:nth-child(even){

   }
 }

 @media only screen and (max-width: 580px) {
   .ref {
     grid-template-columns: 1fr 1fr;
     grid-gap: 1em;
   }
 }
 @media only screen and (max-width: 366px) {
   .ref div:nth-child(1) {
     padding-top: 0.20em;
   }
 }
